body {
  margin: 0;
  overflow: hidden;
  font-family: 'Abel', sans-serif;
}
table {
  width: 100%;
}
table a,
table tr th {
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Courier New";
  color: #00ff00;
}
table tr td,
table tr th {
  color: #00ff00;
  border: 1px solid #00ff00;
  padding: 5px;
}
hr {
  border: 1px solid;
  border-color: #00ff00;
}
.clear {
  clear: both;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0px 0 #00ff00, inset 0 0 0px 0 #00ff00;
  }
  100% {
    box-shadow: 0 0 10px 0 #00ff00, inset 0 0 10px 0 #00ff00;
  }
}
.load-spinner {
  display: none;
  position: relative;
  width: 128px;
  height: 128px;
  margin: 0 auto;
}
.load-spinner .sweeper {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1px;
  height: 50%;
  background-color: #00ff00;
  transform-origin: left top;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  box-shadow: 3px 0px 10px 1px #00ff00;
}
.load-spinner .x,
.load-spinner .y {
  background-color: #00ff00;
  position: absolute;
}
.load-spinner .x {
  top: 50%;
  width: 100%;
  height: 1px;
}
.load-spinner .y {
  left: 50%;
  height: 100%;
  width: 1px;
}
.load-spinner .circle {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 1px solid #00ff00;
}
.load-spinner .circle > div {
  position: absolute;
  border: 1px solid #00ff00;
  border-radius: 100%;
  width: 70%;
  height: 70%;
  left: 14%;
  top: 14%;
}
.load-spinner .circle > div > div {
  position: absolute;
  border: 1px solid #00ff00;
  border-radius: 100%;
  width: 60%;
  height: 60%;
  left: 18%;
  top: 18%;
}
#loading .load-spinner {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
#loading .load-spinner .circle,
#loading .load-spinner .circle div {
  animation: pulse 300ms infinite linear;
  animation-direction: alternate;
}
#loading .load-spinner .sweeper {
  -webkit-animation: none;
  animation: none;
}
#start {
  width: 100%;
}
#start button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  padding: 20px;
  font-size: 2em;
  font-family: 'Abel', sans-serif;
  color: #ffffff;
  transition: background-color 200ms;
}
#start button:hover {
  cursor: pointer;
  background-color: #000000;
}
#start button:active {
  background-color: #00ff00;
  color: #000;
  transition: background-color 0ms;
}
#start button:focus {
  outline: none;
}
#lobby {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  width: 60%;
}
#lobby h2 {
  color: #00ff00;
  font-weight: bold;
}
#hud #waiting {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
  padding: 20px;
}
#hud #waiting .load-spinner {
  display: block;
}
#hud #waiting h1 {
  font-size: 26px;
  color: white;
  padding-top: 20px;
}
#hud #setup-reset {
  left: 10px;
}
#hud #setup-ready {
  right: 10px;
}
#hud #setup-reset,
#hud #setup-ready {
  position: absolute;
  bottom: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-top: 4px solid grey;
  border-bottom: 4px solid grey;
  border-left: none;
  border-right: none;
  font-family: 'Black Ops One', cursive;
  color: #fff;
  text-transform: uppercase;
  padding: 20px;
  font-size: 20px;
}
#hud #setup-reset:hover,
#hud #setup-ready:hover {
  background-color: red;
}
#hud #setup-reset:active,
#hud #setup-ready:active {
  background-color: green;
}
#hud #setup-reset:disabled,
#hud #setup-ready:disabled {
  background-color: grey;
}
#hud #ship-select {
  position: absolute;
  top: 25%;
  left: -165px;
  transition: left 500ms ease-in 3s;
}
#hud #ship-select:hover {
  left: 0px;
  transition-delay: 0ms;
}
#hud #ship-select li {
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  transition: left 500ms ease-in 500ms;
  position: relative;
  left: -64px;
  font-family: 'Black Ops One', cursive;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  line-height: 48px;
  height: 49px;
  padding-right: 20px;
  border-right: 1px solid grey;
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
}
#hud #ship-select li img {
  margin-right: 20px;
  vertical-align: middle;
}
#hud #ship-select li:hover {
  transition-delay: 0ms;
  left: 0px;
}
#hud #ship-select li:first-child {
  border-top: 4px solid grey;
}
#hud #ship-select li:last-child {
  border-bottom: 4px solid grey;
}
#started #scoreboard {
  position: absolute;
  width: 300px;
  height: 100px;
  left: 50%;
  transform: translateX(-50%);
}
#started #scoreboard #playerscore,
#started #scoreboard #enemyscore {
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 54px;
  color: #ffffff;
  text-align: center;
  width: 50%;
  float: left;
}
#started #scoreboard #playerscore {
  border-bottom: 4px solid red;
}
#started #scoreboard #enemyscore {
  border-bottom: 4px solid blue;
}
#started #scoreboard #turn {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 5px;
  color: #fff;
  font-size: 16px;
  text-align: center;
}
#started #scoreboard .progressbar {
  background-color: rgba(0, 0, 0, 0.2);
  height: 4px;
}
#started #scoreboard .progressbar .progress {
  height: 4px;
  background-color: green;
  width: 30%;
  float: right;
}
#done #report {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  width: 60%;
}
#done #report h1 {
  font-size: 100px;
  color: #00ff00;
  text-transform: uppercase;
  text-align: center;
}
